<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>A</string>
    <string>O</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>a</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>z</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>B</string>
    <string>D</string>
    <string>C</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>J</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>period</string>
    <string>exclam</string>
    <string>less</string>
    <string>asciicircum</string>
    <string>greater</string>
    <string>ellipsis</string>
    <string>colon</string>
    <string>Euro</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>H</string>
    <string>I</string>
    <string>comma</string>
    <string>eacute</string>
    <string>egrave</string>
    <string>Eacute</string>
    <string>Egrave</string>
    <string>dieresis</string>
    <string>ugrave</string>
    <string>ampersand</string>
    <string>agrave</string>
    <string>ccedilla</string>
    <string>Ccedilla</string>
    <string>Agrave</string>
    <string>Ugrave</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>at</string>
  </array>
</dict>
</plist>
